/* mobile */
@media (max-width: 576px) {
    .header__logo {
        flex-direction: column;
    }

    .header__logo img {
        height: 80%;
    }

    .header__logo p {
        font-size: 12px;
        margin-left: 0;
    }

    .btn-regis,
    .btn-login {
        font-size: 12px;
        padding: 4px;
    }

    .banner__text {
        margin-top: 52px;
    }

    .sub__banner {
        grid-template-columns: repeat(1, 1fr);

    }

    .courses-newest_list {
        grid-template-columns: repeat(1, 1fr);
    }

    .about_intro-text h1 {
        margin-top: 32px;

    }

    .about_goal-img img {
        margin-top: 20px;
    }

    .about_whatToSale {
        margin-bottom: 820px;
        background-color: transparent;
    }

    .about_whatToSale_header {
        padding: 0;
        box-shadow: none;
    }

    /* .cert-info */
    .cert-info {
        width: auto;
    }

    .cert-nameUser {
        height: 64px;
        font-size: 32px;
    }

    .cert-nameCourse {
        font-size: 16px;
        top: calc(50% + 40px);
    }
}


/* mobile de ngang hoac tablet nho */
@media (min-width: 576px) and (max-width:768px) {}


/* tablet */
@media (min-width: 768px) and (max-width: 992px) {
    .sub__banner {
        grid-template-columns: repeat(2, 1fr);

    }

    .courses-newest_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .roadmap__card-info p {
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .about_intro-text p {
        font-size: 14px;
        line-height: 1.6;
    }

    .about_intro-text h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .about_whatToSale_header {
        max-width: 600px;
        height: 680px;
    }

    .mofal_form {
        max-width: 600px;
    }
}


/* < tablet */
@media (max-width: 992px) {
    .header__nav {
        position: absolute;
        transform: translateX(-110%);
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        width: 40%;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: all linear .2s;
    }

    .header__item {
        padding: 14px 20px;
        border-bottom: 1px solid #ccc;
    }

    .close_nav {
        display: block;
    }

    .header_bar {
        display: block;
    }
}

/* pc nho */
@media (min-width: 992px) and (max-width: 1200px) {}