.wrapper {
    padding-top: var(--height-header);
    margin-top: 35px;
}
.content{
    display: flex;
    margin-top: 100px;
}
.title{
    display: flex;
}
.title1{
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
    margin-left: 10px;
    
}
.title2{
    font-size: 18px;
    font-weight: 400;
}
.title hr{
    width: 120px;
    margin-top: 30px;
}


.hr{
    width: 800px;
}
.content1_p{
    font-size: 16px;
    margin-top: 50px;
    font-weight: 500;
}
span{
    display: flex;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.p1{
    margin-left: 5px;
    margin-right: 5px;
    color: red;
    border-bottom: 1px solid ;
}
.aside_img img{
    margin-left: 100px;
    border-radius: 5%;
}

