.wrapper {
    padding-top: var(--height-header);
    margin: auto;
    box-sizing: border-box;
    margin-left: 200px;
    border: 0.5px solid black;
    margin-right: 200px;
    
}
.conntainer{
   
}
.content-1{
    margin-left: 450px;
    margin-top: 50px;
}
.khoahoc{
    margin-left: 50px;
    height:60px ;
}
.khoahoc1{
    width: 200px;
    height:40px ;
    font-size: 16px;
    
}

.tieude{
    margin-top: 50px;
    margin-bottom: 50px;
}
.td{
    padding:3px;
    width: 950px;
    height:60px ;
    margin-left: 50px;

}
.image{
    margin-left: 50px;
    margin-top: 20px;
}
.a{
    margin-left: 50px;
    margin-bottom: 10px;
}
.nd{

    width: 950px;
    height:200px ;
    margin-left: 50px;
}
.gui input{
    margin-left: 500px;
    width: 70px;
    height: 40px;
    font-size: 18px;
    margin-bottom: 50px;
}
