* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


body {
    overflow-y: overlay;
}

html {
    scroll-behavior: smooth;
}


html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}


html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}



html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}


a {
    text-decoration: none !important;
    color: var(--text-color);
}

:root {
    --height-header: 84px;

    --primary-color: #F76B1C;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #242424;
}

html {
    color: var(--text-color);
}

.main {
    overflow: hidden;
    position: relative;

}

header {
    height: 50px;
    background-color: #29303b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--left {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__back {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    color: var(--white-color);
    width: 60px;
}

.header__logo a {
    display: flex;
    align-items: center;
}

.header__logo a img {
    height: 32px;
    border-radius: 4px;
}

.header__logo a p {
    margin-bottom: 0 !important;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
}



.header__actions {
    display: flex;
    align-items: center;
}

.header__progress {
    width: 100px;
}

.header__progress--txt {
    margin-bottom: 0 !important;
    font-size: 13px;
    color: var(--white-color);
}

.header__cert {}



.header__cert--link {
    color: var(--primary-color);
    margin-left: 20px;
    text-decoration: none;

}

.header__cert--link button {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
}

.header__cert--link button:active,
.header__cert--link button:visited,
.header__cert--link button:hover {
    background-color: transparent;
    border: none;
}

.header__cert--link.dis {
    pointer-events: none;
    user-select: none;
    opacity: .3;
}

.header__cert--link:hover {
    color: red;
    text-decoration: none !important;

}

/* content */
.content {
    background-color: #f0f0f0;
}

.learning__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

.video--link {
    width: 100%;
    height: 515px;
}

.learning__video {
    grid-column: span 9;
    padding-top: 50px;
    padding-bottom: 80px;
}

.learning__video.full {
    grid-column: span 12;

}

.learning__bar {
    position: fixed;
    right: 16px;
    width: 23.3333%;
    grid-column: span 3;
    background-color: #fff;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    padding-bottom: 12px;
    bottom: 32px;
    top: 50px;
    padding-bottom: 80px;
    transition: all linear .3s;
}



.learning__bar--title {
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0 2px 0;
    margin-left: 12px;
    position: relative;
}

.learning__bar--title::after {
    position: absolute;
    content: "";
    width: 68%;
    height: 2px;
    background-color: var(--primary-color);
    top: 100%;
    left: 0;
}

.learning__chapter {
    margin-top: 16px;
    padding-left: 24px;
}

.learning__chapter--txt {
    font-size: 16px;
    font-weight: 600;
}

.trackItem {
    min-height: 66px;
    padding: 6px 0;
    border-radius: 6px;
    margin-top: 20px;
    transition: all linear .2s;
    background-color: #f1f1f1;

}

.trackItem:hover {
    background-color: rgba(247, 107, 28, .7);
    cursor: pointer;
    transition: all linear .2s;
}

.trackItem.active .trackItem--title,
.trackItem:hover .trackItem--title {
    color: #fff;
}

.trackItem.active {
    background-color: rgba(247, 107, 28, .7);
}


/* message delete */
.message__delete {
    z-index: 10;
    display: none;
    width: 400px;
    height: 120px;
    position: fixed;
    right: 26px;
    top: 20%;
    background-color: #111;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 8px;
    border-left: 6px solid orangered;
    color: #fff;
    animation: runIn linear .2s;
}

.message__delete.open {
    display: block;
}

.message__delete h2 {
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

.message__delete h4 {
    font-size: 14px;

    margin-left: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 32px;
}

.btn__delete-container {
    margin-left: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.no,
.yes {
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
    color: #111;
    padding: 4px 20px;

}

.no:hover,
.yes:hover {
    color: orangered;
    cursor: pointer;
}

.no {
    margin: 0 12px;
}

@keyframes runIn {
    from {
        transform: translateX(110%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ani {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.trackItem--title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    line-height: 20px;
}

.quizz {
    margin-left: 16px;
}

.quizz--item {
    background-color: rgba(204, 204, 204, .5);
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
}

.quizz--item.finish {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    color: var(--white-color);

}

.comment__wrapper {
    margin-top: 32px;
}

.commment__option {
    display: flex;
    justify-content: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.commment__option button {
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
    padding: 8px 0;
    margin: 0 32px;
}

.commment__option button:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.commentBox {
    display: flex;
    /* align-items: center; */
    margin-top: 32px;
}

.commentBox--img {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
}

.form__comment {
    flex: 1;
    margin-bottom: 24px;
}

.commentBox--ipt {
    width: 100%;
    padding: 8px 12px;
    margin-left: 12px;
}

.send__comment {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    float: right;
    margin-top: 6px;
    opacity: .8;
}

.send__comment:hover {
    opacity: 1;
    cursor: pointer;
}

.commentBox--content {
    background-color: #ccc;
    padding: 4px 16px;
}

.commentBox--user-info {
    display: flex;
}






.commentBox--right {
    position: relative;
    flex: 1;
    margin-left: 8px;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
}

.commentBox--right h5 {
    font-size: 16px;
    font-weight: 600;
}

.commentBox--text {
    margin-left: 12px;
    margin-bottom: 0;
}

.notAuth {}



/* copy du an mau  */

.noMt {
    margin-top: 22px;
}

.notAuth--link {
    font-weight: 700;
    padding: 4px 20px;
    color: var(--white-color);
    background-color: #000;
    transition: all linear .3s;
    border-radius: 4px;
}

.notAuth--link:hover {
    background-color: #2f2b2b;
    background-image: linear-gradient(90deg, #2f2b2b 0%, #640408 100%);
    transform: translateY(-3px);
    transition: all linear .3s;

}

.comment__time {
    font-style: italic;
    color: #999;
    font-size: 13px;
    font-weight: 400;
}

.update__comment,
.delete__comment {
    margin-top: 6px;
    border: none;
    color: #0c71c3;
    cursor: pointer;
}

.update__comment {
    margin-left: 12px;
}

.form__update-cmt {
    display: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
    animation: ani linear .2s;

}

.comment__ipt--update {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 12px;
    padding-bottom: 2px;
    font-size: 16px;

}


.form__update-cmt.open {
    display: flex;
}

.btn__save-cmt {
    background-color: rgba(0, 0, 0, .3);
    border: none;
    border-radius: 8px;
    color: var(--white-color);
    padding: 4px 8px;
    font-size: 12px;
}

.btn__save-cmt:hover {
    background-color: rgba(0, 0, 0);
    cursor: pointer;

}




@media (max-width: 576px) {

    .header__logo a p {
        display: none;
    }
}

/* actionBar */
.actionBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #dddd;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.note-storage {
    border: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 2px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.note-storage:hover {
    opacity: .8;
    cursor: pointer;
}

.note-storage i {
    font-size: 16px;
    margin-right: 6px;
}

.actionBtn {
    flex: 1;
    text-align: center;
}

.actionBtn button {}

.pre-lesson {
    padding: 2px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.pre-lesson:hover {
    background-color: var(--primary-color);
    color: var(--white-color);

}

.next-lesson {
    font-size: 14px;
    font-weight: 600;
    padding: 2px 20px;
    border-radius: 8px;
    background-color: rgba(247, 107, 28);
    opacity: .8;
    border: 2px solid #F76B1C;
    color: var(--white-color);
}

.next-lesson:hover {
    cursor: pointer;
    opacity: 1;
}

.btn__bar {
    border: none;
    color: var(--primary-color);
    background-color: transparent;
    font-size: 24px;
    padding: 4px;
}

/* end action bar */


/* note form */

.note__option-btn,
.commment__option-btn {
    color: var(--text-color);
}

.note__option-btn.active,
.commment__option-btn.active {
    color: var(--primary-color);
}


.commentZone,
.noteZone {
    display: none;
}

.commentZone.open,
.noteZone.open {
    display: block;
}

.noteForm {}

.note--title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 32px;
}

.note--time {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 700;
    padding: 4px;
    border-radius: 2px;
}

.note--ipt {
    width: 100%;
    padding: 6px 20px;
    font-size: 16px;
}



/* end note form */

.comments-options {
    position: absolute;
    right: 32px;
    top: 6px;
    cursor: pointer;

}

.comments-options::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 20px;
    top: 10px;
    right: -10px;
}

.comments-options:hover .btn_option-cmt {
    display: block;
}

.comments-options i {
    font-size: 24px;
}

.options-sub {
    position: absolute;
    top: 100%;
    right: 0;
    width: 120px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
}

.btn_option-cmt {
    display: none;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 2px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0 !important;
}

.btn_option-cmt:hover {
    cursor: pointer;
    background-color: rgba(247, 107, 28, .9);
    color: #fff;
}

.btn_option-cmt i {
    font-size: 16px;
}

.update_cmt_form {
    display: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.update_cmt_form.open {
    display: flex;
    animation: showIn linear .2s;
}

.update_cmt_form input {
    width: 100%;
    border: none;
    outline: none;
}

.update_cmt_form button {
    height: 30px;
    width: 100px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 10px;

    border: none;
    margin: 6px 0;
}

.update_cmt_form button:hover {
    opacity: .8;
    cursor: pointer;
}


/* note */
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
}

.modal.open {
    display: block;
}

.note_wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    padding: 32px 32px 48px 32px;
    animation: showIn ease-in .3s;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}

.note_heading {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note_heading h2 {
    font-size: 24px;
    font-weight: 600;
}

.note_list {
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 12px;
    height: calc(100vh - 50px);
    padding-bottom: 142px;
    overflow-y: scroll;
}

.note_item {
    position: relative;
    margin-top: 24px;
}

.note-close {
    padding: 6px;
    font-size: 22px;
}

.note-close:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.note_item-heading {}

.note_item-heading p {
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 0;
}

.note_item-content {
    height: 56px;
    line-height: 56px;
    background-color: #f0f0f0;
}

.note_item-content p {
    margin-bottom: 0;
    margin-left: 12px;
}

.update_note_form {
    display: none;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.update_note_form.open {
    display: flex;
}

.updateNoteIpt {
    flex: 1;
    border: none;
    background-color: transparent;
    padding-left: 12px;
    outline: none;
}

.update_note_form>button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    width: 66px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    opacity: .8;
    margin-right: 12px;
}

.update_note_form>button:hover {
    cursor: pointer;
    opacity: 1;
}

@keyframes showIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}