/* mobile */

@media (max-width: 576px) {
    .learning__bar {
        width: 100% !important;
    }

    .video--link {
        height: 330px;
    }

    /* .note-storage */
    .pre-lesson,
    .next-lesson,
    .note-storage {
        padding: 2px 8px;
        font-size: 12px;
    }

    .btn__bar {
        font-size: 18px;
    }

}


/* mobile de ngang hoac tablet nho */
@media (min-width: 576px) and (max-width:768px) {}


/* tablet */
@media (min-width: 768px) and (max-width: 992px) {}


/* < tablet */
@media (max-width: 992px) {

    .main {
        min-height: 100vh;
        background-color: #f0f0f0;
    }

    .learning__bar {
        position: absolute;
        /* right: -24%; */
        right: 2px;
        width: 40%;
        transform: translateX(120%);
    }

    .learning__video {
        grid-column: span 12;
        margin-top: 32px;
    }
}


/* pc nho */
@media (min-width: 992px) and (max-width: 1200px) {}