.wrapper {
    padding-top: var(--height-header);
    margin-top: 35px;
    margin-left: 160px;
    margin-right: 160px;
}

.title h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}
.content_box {
    display: flex;
}

.content_box img {
    border-radius: 50%;
    margin-left: 0px;
}
.img1 {
    margin-top: 35px;
}

.content_box h4 {
    margin-top: 50px;
    margin-left: 15px;
}
.content_box p {
    margin-top: 7px;
    margin-left: 15px;
}

.icon {
    display: flex;
    margin-top: 50px;
    margin-left: 750px;
   
}

.icon i {
    margin-left: 20px;
}
.title p{
    font-size: 16px;
    margin-top: 25px;
    line-height: 35px;
}
.content1{
    margin-top: 30px;
}
.content1 h1{
    margin-bottom: 30px;
}
.content1 p{
    font-size: 16px;
    line-height: 35px;
}
.content_img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.content_img p{
    margin-top: 5px;
    margin-left: 200px;
}
.content1 span{
    font-size: 16px;
    line-height: 35px;
}
.two_img img{
    margin-bottom: 30px;
     
}
.hh{
    text-align: center;
}