.wrapper {
    padding-top: var(--height-header);
    margin-top: 35px;
}

.container_h1 {

    font-weight: bold;
}

.container_p {
    font-size: 16px;
    margin-top: 25px;
}

section {
    display: flex;
    margin-top: 70px;
}

/* left */
.content1 {
    border: 1px solid #000000;
    width: 800px;
    border-radius: 20px;
    margin-top: 20px;
}
.content1_content {
    display: flex;
}

/* content left */
.box {
    margin-right: 25px;
    margin-left: 30px;
}

.content_box {
    display: flex;
}

.content_box img {
    border-radius: 50%;
    margin-left: 0px;
}

.img1 {
    margin-top: 35px;
}

.content_box h4 {
    margin-top: 50px;
    margin-left: 15px;
}

.icon {
    display: flex;
    margin-top: 50px;
    margin-left: 550px;
}

.icon i {
    margin-left: 20px;
}

.h2 {
    margin-top: 10px;
    line-height: 35px;
}

.p1 {
    margin-top: 10px;
    line-height: 25px;
}

.content1_content_img img {
    margin-top: px;
    border-radius: 10%;
    margin-left: 30px;
}

.content1_content_img {
    margin-top: 35px;
}

.p2 {
    font-weight: 500;
    margin-top: 15px;
    line-height: 25px;
    margin-bottom: 15px;
}

/*end content */
aside {
    margin-left: 70px;
    margin-top: 20px;
}

.aside_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15px;
    width: 450px;
    gap: 10px;
}

.aside_content0 {
    font-weight: 500;
    font-size: 18px;
}

.aside_content1 {
    font-size: 15px;
    width: 200px;
    font-weight: 700;
}

.aside_img img {
    margin-top: 20px;
    border-radius: 5%;
}